<!DOCTYPE html>


<html lang="en">

<head>
    <link rel="stylesheet" href="/css/subcategory.css">
    <%- include('../../header',{title:"Quản lý bài viết"}) %>

        <div class="page-content">
            <div class="header-table">
                   <div class="row">
        <div class="col-4 col-md-2 col-lg-2">
          <label>Hiển thị</label>
          <select onchange="getData()" id="selectLimit">
              <option value="<%- limit %>"><%- limit %></option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
              <option value="100">100</option>
          </select>
        </div>
        <div class="col-4 col-md-2 col-lg-2">
            <label>Trạng thái</label>
            <select onchange="getData()" id="selectStatus">
                <option value="1">Đang hiển thị</option>
                <option value="0">Chưa hiển thị</option>
                <option value="-1">Đang ẩn</option>
                <option value="">Tất cả</option>
            </select>
          </div>
        <div class="col-4 col-md-2 col-lg-2">
          <label>Danh mục</label>
          <select onchange="getData()" name="selectCategory" id="selectCategory">
              
          </select>
        </div>
        <div class="col-6 col-md-3">
          <label>Tìm kiếm</label>
          <input id="keyFind" autocomplete="off"  value="<%- key %>" placeholder="Nhập tên sản phẩm . . ." type="text" class="form-control" >
        </div>
        <!-- <div  class="col-2 col-md-1 col-lg-1 col-xl-2 relative divAdd">
          <button id="btnAdd" onclick="showPopup('popupAdd',true)" class="btn btn-success absulate add"><i class="mdi mdi-cart-plus"></i> <span class="hide-on-mobile">Thêm mới</span> </button>
        </div> -->

      </div>
            </div>
            <div class="container-fluid">
                <div id="divTable" class="div-table">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Tên sản phẩm</th>
                          <th>Giá bán</th>
                          <th>Đang giảm giá</th>
                          <th>Ảnh sản phẩm</th>
                          <th>Tứ tự hiện thị</th>
                          <th>Trạng thái hiển thị</th>
                          <th>Chỉnh sửa</th>
                        </tr>
                      </thead>
                        <tbody id="tbodyTable"></tbody>
                    </table>
                </div>
                <div id="divPagination"></div>
            </div>
        </div>
        <!-- POPUP ====================================-->
<!-- Popup thêm mới -->
<div id="popupAdd" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-90" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới sản phẩm <i class="mdi mdi-cart-plus"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-4">
            <label>Danh mục</label>
            <select name="selectCategory" id="addCategory"></select>
          </div>
          <div class="col-12 col-md-8">
            <label>Tên sản phẩm</label>
            <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" id="addName">
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-md-3">
            <label>Giá nhập</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addImportPrice" placeholder="Nhập giá nhập">
          </div>
          <div class="col-6 col-md-3">
            <label>Giá bán</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addExportPrice" placeholder="Nhập giá bán">
          </div>
          <div class="col-6 col-md-3">
            <label>VAT(%)</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addVAT" placeholder="Nhập thuế VAT">
          </div>
          <div class="col-6 col-md-3">
            <label>Chiết khấu(%)</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addCK" placeholder="Nhập chiết khấu">
          </div>
          <div class="col-6 col-md-3">
            <label>Giảm giá</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addDiscount" placeholder="Giảm giá">
          </div>
          <div class="col-6 col-md-3">
            <label>Bảo hành (tháng)</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addWarranty" placeholder="Bảo hành">
          </div>
          <div class="col-6 col-md-3">
            <label>Part thưởng</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addPart" placeholder="Part thưởng">
          </div>
          <div class="col-6 col-md-3">
            <label>Điểm thưởng</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addPoint" placeholder="Điểm thưởng">
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6">
            <label>Số lượng cảnh báo</label>
            <input class="number form-control" oninput="inputNumber(this)" id="addWarning" placeholder="Tồn tối đa">
          </div>
          <div class="col-6 col-md-6">
            <label>Đơn vị tính</label>
            <input class="form-control" value="Chiếc" id="addUnit" placeholder="Tồn tối đa">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="confirmAdd()" class="btn btn-primary">Thêm mới</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<!--  -->

<!-- Popup thêm mới -->
<div id="popupEdit" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chỉnh sửa </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <label>Số thứ tự</label>
            <input type="text" class="number form-control" oninput="inputNumber(this)" id="edit_stt" value="0" >

            <label>Trạng thái</label>
            <div class="form-group">
              <div class="form-check form-check-primary">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="edit_stt" value="0" > Không hiển thị <i class="input-helper"></i>
                </label>
              </div>
              <div class="form-check form-check-success">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="edit_stt" value="1" > Đang hiển thị <i class="input-helper"></i></label>
              </div>
              <div class="form-check form-check-info">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="edit_stt" value="-1" > Tạm ẩn <i class="input-helper"></i></label>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnConfirmEdit" data-dismiss="modal" class="btn btn-primary">Lưu thay đổi</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<!--  -->
        <!-- ====================================== -->
        <%- include('../../footer') %>
        <script>
          var limit = '<%- limit %>'
          var page = '<%- page %>'
          var key = '<%- key %>'
          var id_category = '<%- id_category %>'
          var subcategory_status = '<%- subcategory_status %>'
      
      </script>
      <script src="/js/ContentsManagement/SubCategory/index.js"></script>
      <script>
        $("#selectStatus").val(subcategory_status).change()
      </script>
            </body>

</html>