<!DOCTYPE html>


<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/dataTable/buttons.dataTables.min.css">
    <link rel="stylesheet" href="/assets/dataTable/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/fundbook_report.css">
    <%- include('../../header',{title:"Sổ quỹ | Báo cáo"}) %>

        <div class="page-content">
            <div class="header-table">
                <div class="page-header">
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                            <label>Sổ quỹ</label>
                            <select>
                                <option value="">Tất cả</option>
                                <option value="all_bank">Tất cả ngân hàng</option>
                            </select>
                        </div>
                        <div class="col-5 col-md-3 col-lg-3 col-xl-3">
                            <label>Từ ngày</label>
                            <input value="<%- fromdate %>" type="date" class="form-control">
                        </div>
                        <div class="col-5 col-md-3 col-lg-3 col-xl-3">
                            <label>Đến ngày</label>
                            <input value="<%- todate %>" type="date" class="form-control">
                        </div>
                        <div class="col-2 col-md-3 col-lg-3 col-xl-3">
                            <button class="btn btn-primary"><span class="hide-on-mobile">Tìm kiếm</span> <i  class="fas fa-search"></i></button>
                        </div>
                    </div>
                   
                </div>
                
            </div>
            <div class="container-fluid">
                <div id="divTable" class="div-table">

                </div>
                <div id="divPagination"></div>
            </div>
        </div>
        <!-- POPUP ====================================-->
        <!-- ====================================== -->
        <%- include('../../footer') %>
            <script>
                var id_fundbook = `<% if(locals.id_fundbook){ %><%- id_fundbook %> <% } else { %><% } %>`
  
            </script>
                        <script src="/assets/dataTable/vfs_fonts.js"></script>
                        <script src="/assets/dataTable/pdfmake.min.js"></script>
                        <script src="/assets/dataTable/jszip.min.js"></script>
                        <script src="/assets/dataTable/jquery.dataTables.min.js"></script>
                        <script src="/assets/dataTable/dataTables.buttons.min.js"></script>
                        <script src="/assets/dataTable/buttons.print.min.js"></script>
                        <script src="/assets/dataTable/buttons.html5.min.js"></script>
            <script src="/js/ReportsManagement/FundBook/report.js"></script>
            </body>

</html>