<!DOCTYPE html>


<html lang="en">

<head>
  <link rel="stylesheet" href="/css/warranty_combo.css">
    <%- include("../../header",{title:"Quản lý combo bảo hành"}) %>

        <div class="page-content">
            <div class="header-table">
              <div class="row">
                <div class="col-4 col-md-2 col-lg-2">
                  <label>Hiển thị</label>
                  <select onchange="getData()" id="selectLimit">
                      <option value="<%- limit %>"><%- limit %></option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                  </select>
                </div>
                <div class="col-8 col-md-3">
                  <label>Tìm kiếm</label>
                  <input id="keyFind"  value="<%- key %>" placeholder="Nhập tên combo . . ." type="text" class="form-control" >
                </div>
                <div class="col-5 col-md-3 relative">
                  <button id="btnAdd" onclick="showPopupAdd()" class="btn btn-success absulate"><i class="mdi mdi-account-plus"></i> Thêm mới </button>
                </div>
              </div>
            </div>
            <div class="container-fluid">
                <div class="div-table">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Tên combo</th>
                            <th>Chi tiết</th>
                          </tr>
                        </thead>
                        <tbody id="tbodyTable"></tbody>
                    </table>
                </div>
                <div id="divPagination"></div>
            </div>
        </div>
        <!-- POPUP ====================================-->
        <!-- Popup thêm mới -->

<!-- Popup thêm mới -->
<div id="popupAdd" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-70" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-12 col-md-12">
              <label>Tên combo</label>
              <input class="form-control" id="addName" type="text" placeholder="Nhập tên combo">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 relative" >
              <label>Nội dung</label>
              <input class="form-control input-content" id="inputAddContent" type="text" placeholder="Nhập nội dung combo . . .">
              <i onclick="addContentToDiv('inputAddContent','inputAddLink')" class="mdi mdi-plus-circle text-success absulate icon-content"></i>
            </div>
            <div class="col-12 col-md-6">
              <label>Link (nếu có )</label>
              <input class="form-control" type="text" id="inputAddLink" placeholder="Link nội dung nếu có . . ">
            </div>
          </div>
          <div class="div-contents empty">
            
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="confirmAdd()" class="btn btn-primary">Thêm mới</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup -->

<!-- Popup  chỉnh sửa-->
<div id="popupEdit" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-70" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chỉnh sửa | chi tiết </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-12 col-md-12">
              <label>Tên combo</label>
              <input class="form-control" id="editName" type="text" placeholder="Nhập tên combo">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 relative" >
              <label>Nội dung</label>
              <input class="form-control input-content" id="inputEditContent" type="text" placeholder="Nhập nội dung combo . . .">
              <i onclick="addContentToDiv('inputEditContent','inputEditLink')" class="mdi mdi-plus-circle text-success absulate icon-content"></i>
            </div>
            <div class="col-12 col-md-6">
              <label>Link (nếu có )</label>
              <input class="form-control" type="text" id="inputEditLink" placeholder="Link nội dung nếu có . . ">
            </div>
          </div>
          <div class="div-contents empty">
            
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnConfirmEdit" class="btn btn-primary">Lưu thay đổi</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup -->

        <!-- ====================================== -->
        <%- include('../../footer') %>
        <script>
          var limit = '<%- limit %>'
          var page = '<%- page %>'
          var key = '<%- key %>'
      </script>
      <script src="/js/ContentsManagement/Combo/warranty.js"></script>

            </body>

</html>