<!DOCTYPE html>


<html lang="en">

<head>
    <link rel="stylesheet" href="/css/internal_order.css">
    <%- include('../../header',{title:"Đơn hàng nôi bộ | Được đề xuất"}) %>
        <div class="page-content">
            <div class="header-table">
              <div>
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="/internal-order-management/proposaled">Được đề xuất</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/internal-order-management/proposal">Đề xuất</a>
                  </li>
                </ul>
              </div>
              <div class="row">
                <div class="col-6 col-md-2 col-lg-2 col-xl-1 col-sm-3 ">
                  <label>Hiển thị</label>
                  <select onchange="getData()" id="selectLimit">
                    <option value="<%- limit %>"><%- limit %></option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
                <div  class="col-6 col-md-2 col-lg-2 col-xl-2 col-sm-3">
                  <label>Tìm kiếm</label>
                  <input  id="keyFind" placeholder="Mã phiếu , tên nhà cung cấp hoặc tên sản phẩm . . ." value="<%- key %>" class="form-control">
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <label>Từ ngày</label>
                  <input id="fromdate" onchange="getData()" value="<%- fromdate %>" type=date class="form-control">
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <label>Đến ngày</label>
                  <input onchange="getData()" id="todate" type="date" value="<%- todate %>" class="form-control">
                </div>
               
                <div class="col-6 col-md-2">
                  <label>Chọn kho</label>
                  <select onchange="getData()" name="warehouse" id="selectWarehouse"></select>
                </div>
                <div class="col-6 col-md-2">
                  <label>Trạng thái</label>
                  <select  onchange="getData()" id="selectStatus">
                    <option value="">Tất cả</option>
                    <option value="Chưa xử lý">Chưa xử lý</option>
                    <option value="Đã xuất">Đã xuất (chưa nhập)</option>
                    <option value="Hoàn thành">Đã hoàn thành</option>
                  </select>
                </div>
                
              </div>
            </div>
            <div class="container-fluid">
                <div id="divTable" class="div-table">
                  <table class="table table-hover" id="table-main">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Mã phiếu</th>                     
                        <th>Ngày đề xuất</th>
                        <th>Từ kho</th>
                        <th>Tới kho</th>
                        <th>Sản phẩm</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyTable">
                      
                    </tbody>
                </table>
                </div>
                <div id="divPagination">
                   
                </div>
            </div>
        </div>
        <!-- POPUP ====================================-->
   

      <div id="popupEdit" data-keyboard="true" data-backdrop="static" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog model-95" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chi tiết phiếu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    
                </div>
                <div class="modal-body">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" id="tabProposal"  href="javascript:void(0)">Chi tiết đề xuất</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tabExport" href="javascript:void(0)">Chi tiết xuất</a>
                    </li>
                  </ul>
                  <div id="div_proposal">
                    <div>
                      <table class="table hover-table">
                        
                      </table>
                    </div>
                    <div>
                      <table class="table">
                        <thead>
                          <tr>
                           <th>Tên SP</th>
                           <th>Giá bán</th>
                           <th>VAT</th>
                           <th>CK</th>
                           <th>Số lượng</th>
                           <th>Bảo hành</th>
                           <th></th>
                          </tr>
                        </thead>
                        <tbody id="tbodyEdit">
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="div_export">
                    <div class="row">
                      <div class="col col-md-12">
                        <table id="tableCustomerExport" class="table">
                          
                        </table>
                      </div>
                      <div class="col col-md-12">
                        <table id="tableProductTabeExport" class="table">
                            <thead>
                              <tr>
                                <th>STT</th>                             
                                <th>Tên SP</th>
                                <th>Mã sp</th>
                                <th>Giá xuất</th>
                                <th>VAT</th>
                                <th>CK</th>
                                <th>Số lượng</th>
                                <th>Bảo hành</th>
                                <th>Giảm giá</th>
                                <th>Tổng tiền</th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                      </div>
                  </div>
                  </div>
                </div>
             

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" id="btnSaveEdit" class="btn btn-danger" >Lưu thay đổi</button>
                    <a target="_blank" id="btnExport" class="btn btn-primary" >Xuất hàng</a>
                    <button id="btnPrintExport" class="btn btn-primary"><i class="fas fa-print"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div id="popupDelete" data-keyboard="true" data-backdrop="static" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Xóa</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                  <span>Bạn có chắc muốn xóa phiếu đề xuất này?</span>
              </div>
           

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                  <button type="button" id="btnDelete" class="btn btn-danger" >Xóa</button>
              </div>
          </div>
      </div>
  </div>
        <!-- ====================================== -->
        <%- include('../../footer') %>
        
        <script>
              var limit = '<%- limit %>'
              var page = '<%- page %>'
              var key = '<%- key %>'
              var fromdate = '<%- fromdate %>'
              var todate = '<%- todate %>'
              var id_warehouse = '<%- id_warehouse %>'
        </script>
        
       <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
        <script src="/assets/js/xlsx.core.min.js"></script>
        <script src="/js/BusinessManagement/InternalOrder/proposaled.js"></script>
          </body>

</html>