<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/receive.css">
    <%- include('../../header',{title:"Phiếu thu | Tìm kiếm"}) %>
        <div class="page-content">
            <div class="header-table">
                <div class="row">
                    <div class="col-6 col-md-2 col-lg-2 col-xl-1 col-sm-3 ">
                        <label>Hiển thị</label>
                        <select onchange="getData()" id="selectLimit">
                    <option value="<%- limit %>"><%- limit %></option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 col-xl-2 col-sm-3">
                        <label>Tìm kiếm</label>
                        <input id="keyFind" placeholder="Mã phiếu , tên nhà cung cấp hoặc tên sản phẩm . . ." value="<%- key %>" class="form-control">
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 col-xl-2">
                        <label>Từ ngày</label>
                        <input id="fromdate" onchange="getData()" value="<%- fromdate %>" type=date class="form-control">
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 col-xl-2">
                        <label>Đến ngày</label>
                        <input onchange="getData()" id="todate" type="date" value="<%- todate %>" class="form-control">
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 col-xl-2">
                        <label>Nội dung</label>
                        <select onchange="getData()" name="select_accounting" id="find_select_accounting">
                            <option value="">Tất cả</option>
                        </select>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4 col-xl-2">
                        <label>Tổng tiền</label>
                        <div class="row">
                            <div class="col-6 col-md-6 flex">
                                <b>Từ: </b>
                                <input class="number form-control" id="from_money" oninput="getData()" placeholder="Nhập giá trị tiền">
                            </div>
                            <div class="col-6 col-md-6 flex">
                                <b>Đến: </b>
                                <input class="number form-control" id="to_money" oninput="getData()" placeholder="Nhập giá trị tiền">
                            </div>
                        </div>

                    </div>
                    <div class="col col-md-2  col-lg-4 col-xl-1 relative">
                        <i onclick="showPopup('popupAdd',true)" class="fas fa-plus btn btn-success"></i>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div id="divTable" class="div-table">
                    <table class="table table-hover" id="table-main">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã phiếu</th>
                                <th>Ngày tạo</th>
                                <th>Khách hàng</th>
                                <th>Nội dung</th>
                                <th>Tổng tiền</th>
                                <th>Chi tiết</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyTable">

                        </tbody>
                    </table>
                </div>
                <div id="divPagination">

                </div>
            </div>
        </div>
        <!-- POPUP ====================================-->
        <div id="popupEdit" data-keyboard="true" data-backdrop="static" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog model-90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết phiếu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <th>Khách hàng</th>
                                <th></th>
                            </tr>

                            <tr>
                                <th>Ngày tạo</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Người tạo</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Hình thức thanh toán</th>
                                <th>
                                    <select name="select_fundbook"></select>
                                </th>
                            </tr>
                            <tr>
                                <th>Nội dung thu/chi</th>
                                <th>
                                    <select name="select_accounting"></select>
                                </th>
                            </tr>
                            <tr>
                                <th>Tổng tiền</th>
                                <th><input class="form-control number" oninput="inputNumber()" value="0" placeholder="Nhập tổng thu"></th>
                            </tr>
                            <tr>
                                <th>Ghi chú</th>
                                <th>
                                    <input class="form-control" placeholder="Nhập ghi chú">
                                </th>
                            </tr>
                            <tr>
                                <th>Nguồn tạo</th>
                                <th></th>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnSaveEdit" class="btn btn-danger">Lưu thay đổi</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <div id="popupAdd" data-keyboard="true" data-backdrop="static" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog model-90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm phiếu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <th>Khách hàng</th>
                                <th>
                                    <div id="div_find_supplier" class="relative">
                                        <input placeholder="Nhập tên nhà cung cấp hoặc số điện thoại" type="text" oninput="findSupplier()" class="form-control">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div onscroll="loadmoreSupplier()" id="div_list_supplier"></div>
                                    </div>
                                    <button onclick="showPopup('popupAddUser',true, 'popupAdd')" class="btn btn-primary">Thêm</button>
                                </th>
                            </tr>
                            <tr>
                                <th>Hình thức thanh toán</th>
                                <th>
                                    <select name="select_fundbook"></select>
                                </th>
                            </tr>
                            <tr>
                                <th>Nội dung thu/chi</th>
                                <th>
                                    <select name="select_accounting"></select>
                                </th>
                            </tr>
                            <tr>
                                <th>Tổng tiền</th>
                                <th><input class="form-control number" oninput="inputNumber()" value="0" placeholder="Nhập tổng thu"></th>
                            </tr>
                            <tr>
                                <th>Ghi chú</th>
                                <th>
                                    <input class="form-control" type="text" placeholder="Nhập ghi chú">
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" onclick="confirmSave()" class="btn btn-danger">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="popupDelete" data-keyboard="true" data-backdrop="static" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa phiếu thu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc muốn xóa phiếu thu này không?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Xóa</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="popupAddUser" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog model-80" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm khách hàng<i class="mdi mdi-account-minus"></i> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>SĐT</label>
                                <input type="text" class="form-control" aria-describedby="helpId" autocomplete="off" placeholder="Nhập SĐT">
                            </div>
                            <div class="col-sm-6">
                                <label>Tên khách hàng</label>
                                <input type="text" class="form-control" aria-describedby="helpId" placeholder="Nhập tên khách hàng" autocomplete="off">
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>Ngày sinh</label>
                                <input type="date" class="form-control">
                                </input>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <label>Giới tính</label>
                                <select class="form-control">
                      <option value="Nam" selected>Nam</option>
                      <option value="Nữ">Nữ</option>
                    </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Mật khẩu</label>
                                <input type="text" class="form-control" aria-describedby="helpId" autocomplete="off" placeholder="Nhập mật khẩu">
                            </div>

                            <div class="col-sm-4">
                                <label>Email</label>
                                <input type="text" class="form-control" aria-describedby="helpId" autocomplete="off" placeholder="Nhập địa chỉ email">
                            </div>

                            <div class="col-sm-8">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" aria-describedby="helpId" autocomplete="off" placeholder="Nhập địa chỉ liên hệ">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="showPopup('popupAdd',false, 'popupAddUser')">Hủy</button>
                                <button type="button" onclick="confirmAddUser()" class="btn btn-primary">Thêm mới</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../../footer') %>

            <script>
                var limit = '<%- limit %>'
                var page = '<%- page %>'
                var key = '<%- key %>'
                var fromdate = '<%- fromdate %>'
                var todate = '<%- todate %>'
            </script>

            <script src="/js/BusinessManagement/Receive/index.js"></script>
            </body>

</html>