<!DOCTYPE html>


<html lang="en">

<head>
    <link rel="stylesheet" href="/css/export_product/find_export_supplier.css">
    <%- include('../../header',{title:"Dịch vụ sửa chữa ngoài"}) %>
        <div class="page-content">
            <div class="header-table">
              <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/external-repair-service">Tìm kiếm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/external-repair-service/export">Xuất mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/external-repair-service/import">Nhận lại</a>
                    </li>
                </ul>
              </div>
              <div class="row">
                <div class="col-6 col-md-2 col-lg-2 col-xl-1 col-sm-3 ">
                  <label>Hiển thị</label>
                  <select onchange="getData()" id="selectLimit">
                    <option value="<%- limit %>"><%- limit %></option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
                <div  class="col-6 col-md-2 col-lg-2 col-xl-2 col-sm-3">
                  <label>Tìm kiếm</label>
                  <input onkeypress="findData()" id="inputFind" placeholder="Mã phiếu , tên nhà cung cấp hoặc tên sản phẩm . . ." value="<%- key %>" class="form-control">
                </div>
                <div class="col-6 col-md-3 col-lg-3">
                  <label>Từ ngày</label>
                  <input id="fromdate" onchange="getData()" value="<%- fromdate %>" type=date class="form-control">
                </div>
                <div class="col-6 col-md-3 col-lg-3">
                  <label>Đến ngày</label>
                  <input onchange="getData()" id="todate" type="date" value="<%- todate %>" class="form-control">
                </div>
               
                <div class="col-6 col-md-2">
                  <label>Chọn kho</label>
                  <select onchange="getData()" name="select_warehouse" id="selectWarehouse"></select>
                </div>           
              </div>
            </div>
            <div class="container-fluid">
                <div id="divTable" class="div-table">
                  <table class="table table-hover" id="table-main">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Mã phiếu</th>                     
                        <th>Ngày tạo</th>
                        <th>Khách hàng</th>
                        <th>Sản phẩm</th>
                        <th>Trạng thái</th>
                        <th>Tổng tiền</th>
                        <th>Chi tiết</th>
                        
                      </tr>
                    </thead>
                    <tbody id="tbodyTable">
                      
                    </tbody>
                </table>
                </div>
                <div id="divPagination">
                   
                </div>
            </div>
        </div>
        <!-- POPUP ====================================-->
        <div id="popupEdit" data-keyboard="true" data-backdrop="static" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog model-90" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">Chi tiết phiếu</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col col-md-12">
                            <table class="table">
                              
                            </table>
                          </div>
                          <div class="col col-md-12">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>STT</th>                             
                                    <th>Tên SP</th>
                                    <th>Mã sp</th>
                                    <th>Giá xuất</th>
                                    <th>VAT</th>
                                    <th>CK</th>
                                    <th>Số lượng</th>
                                    <th>Bảo hành</th>
                                    <th>Giảm giá</th>
                                    <th>Trạng thái</th>
                                  </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal" id="popupDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Hủy sản phẩm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Bạn có chắc muốn hủy sản phẩm này</p>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-danger">Xác nhận</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div>
        <!-- ====================================== -->
        <%- include('../../footer') %>
        
        <script>
            var limit = '<%- limit %>'
            var page = '<%- page %>'
            var key = '<%- key %>'
            var fromdate = '<%- fromdate %>'
            var todate = '<%- todate %>'
        </script>

        <script src="/js/BusinessManagement/ExternalRepairService/index.js"></script>
    </body>

</html>